@media screen and (max-width: 767px) {
  .modal_background {
    display: unset;
  }
  .modal_container {
    width: 100%;
    max-width: unset;
    border-radius: unset;
    height: 100vh;
  }
}
.card-modal-container {
  padding: 40px 0;
  box-sizing: border-box;
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 8px;
  animation: showModalBox 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.icon {
  width: 80px;
  height: 80px;
  color: rgb(255, 190, 87);
}
