.nav_container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: "0 1px 2px 0 rgb(0 0 0 / 0.05)";
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}
.nav_button_wrapper {
  display: flex;
  gap: 10px;
}

@media (max-width: 1239px) {
  .nav_wrapper {
    margin: 0 20px;
  }
}
.logged_in_box {
  height: fit-content;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
